<!-- Put the HTML template for your page here! -->
<DOCTYPE! html>
<html>
<header>
    <title>SOCCER</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
</header>
<body>
    <h1>My Favorite sport is Soccer!!</h1>
    <p>Soccer is the best sport in the world because!</p>
    {% if likes_same_sport == true %}
        <h3>you don't deserve to see my list</h3>
    {% else %}
        <h2>My list of players</h2>
        <ul>
            {% for player in players %}
            <li> {{player}}</li>
            {% endfor %}
        </ul>    
    {% endif%}
</body>
<html>